/* index.css */
/* ==================== 1행, 북극곰 후원 안내 */
#wrap {}
#wrap .intro{
    height:100vh;
    background:url(../images/bg1.png) no-repeat center / cover;
    position: relative;
}
#wrap .intro::after{
    content:''; display:block; /* 가상요소(after,before)의 필수속성 */
    width: 100%; height: 100%;
    background:linear-gradient(0deg,rgba(0,0,0,0.6),transparent);
    position: absolute; left: 0; top: 0; z-index: 99;
}
#wrap .intro .container{ /* 크기를 적용한 기준으로 최대와 최소값 지정 */
    position: relative; top:100px;
    z-index: 100; max-width: 1250px; min-width: 320px;
    border:5px solid yellow;
    margin: 0 auto; /* 디바이스 크기보다 width가 작은 블록요소를 가운데 배치하는 방법 */
    /* 형제와 형제는 margi, 부모와 자식은 padding */
    text-align: center; /* 자식, 자손이 인라인일 경우 수평정렬 text-align */
    overflow: hidden;/* floa로 부유한 자식으로 인해 부모 밖으로 나가는 문제 해결 */
}
#wrap .intro .container h1{width: 100%;}
#wrap .intro .container h1:nth-child(1){
    text-align: left;
    margin-bottom: 100px;
}
#wrap .intro .container h1:nth-child(1) a{}
#wrap .intro .container h1:nth-child(1) a img{width:89px;}
#wrap .intro .container h1:nth-child(2){
    font-size: 4.375rem;
    color:#fff;
    line-height: 1.3;
}
#wrap .intro .container h1:nth-child(2) em{
    color:#fff;
    font-weight: 700;
}
#wrap .intro .container .sponsor_btn{
    display:block; margin: 100px auto;
    width: 409px;
    /* 수직 중앙 배치해야하는 글자가 1줄 일 경우 height생략 가능. line-height만 px값으로 적용 */
    line-height: 71px;
    background: linear-gradient(#FE9300,#FF7300); color:#fff;
    font-weight: 700; font-size: 2.125em;
    border-radius: 50px;
}
#wrap .intro .container .sponsor_question{
    float:right; color:#fff; background: #000;
    height: 51px; 
    line-height: 1.2; font-size: 1.625rem;
    border-radius: 30px;
    padding: 10px 30px;
}
/* ==================== 2행, 퀴즈 */
/* ==================== 3행, 새끼북극곰 이야기 */
/* ==================== 4행, 빙하면적감소 */
/* ==================== 5행, 인류재앙 */
/* ==================== 6행, 지구위기 */
/* ==================== 7행, wWF단체활동 */
/* ==================== 9행, 감사선물 */
/* ==================== 10행, 결제 안내사항 */